@import '../../../styles/base';

.postContainer {
  border-radius: 12px;
  border: solid 0.5px $textarea-border-color;
  background-color: $white-color;
  margin-bottom: 1.5rem;
  padding: $feed-card-padding;
  @include primary-post-text;

  &:hover {
    background-color: $textarea-border-color;
    cursor: pointer;
  }

  &__header {
    display: flex;
    align-items: center;

    span {
      margin-left: auto;
    }
  }

  &__profileImg {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
  }

  &__profileName {
    @include secondaryText;
    font-weight: 600;
    margin: 0 0 6px 0;
  }

  &__body {
    padding-top: 1rem;
  }
}