// Base font size
$base-font-size: 15px;

$primary-color: #00b1ff;
$primary-feed-bg: #f1f4fa;
$primary-error-bg: #ffcece;
$primary-dark-blue: #1f2a55;

// Border colors
$input-border-color: #9fa3b2;
$textarea-border-color: #e0e7f5;

// Buttons
$primary-btn-color: #2565ee;

// Text-colors
$primary-text-color: #1f2a55;
$error-text-color: #838383;

// Gradients
$primary-gradient: linear-gradient(to bottom, #ffffff, #f1f4fa);

$white-color: #fff;