@import '../styles/variables';

.input {
  width: 100%;
  border: none;
  line-height: 1.8rem;
  border-bottom: 1.5px solid $input-border-color;
  margin-bottom: 2.5rem;
  font-size: 1rem;
  line-height: 100%;
  padding-bottom: 0.5rem;
  background-color: transparent;

  &:focus, &:focus{
    outline: none;
}
}